.App
{
  display:flex;
  justify-content: center;
  min-height: 100vh;
  align-items :center;
  flex-direction: column;
}
.quote
{
  background: url(./bg.jpg);
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  padding: 50px;
  display:flex;
  justify-content: center;
  align-items :center;
  flex-direction: column;

}
.quote h2{
  font-size: 2em;
  color: azure;
}
.quote small{
  font-size: 2em;
  color: azure;
}
.btn
{
  background-color: rgb(126, 65, 223);
  color: black;
  border: 5px solid #031103;
  width: 25%;

}